body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: white;
  }
  
  .drummer {
    font-size: 2vmin;
    height: 1em;
    width: 1em;
    box-shadow: 
      31em 7em silver,
      33em 7em brown,
      16em 8em brown,
      17em 8em tan,
      18em 8em tan,
      19em 8em tan,
      20em 8em tan,
      21em 8em tan,
      22em 8em tan,
      23em 8em tan,
      24em 8em tan,
      25em 8em tan,
      29em 8em gold,
      30em 8em gold,
      31em 8em gold,
      32em 8em gold,
      33em 8em gold,
      17em 9em tan,
      18em 9em tan,
      19em 9em tan,
      20em 9em tan,
      21em 9em tan,
      22em 9em tan,
      23em 9em tan,
      24em 9em tan,
      25em 9em tan,
      26em 9em gold,
      27em 9em gold,
      28em 9em gold,
      29em 9em gold,
      30em 9em gold,
      31em 9em gold,
      32em 9em gold,
      33em 9em gold,
      34em 9em gold,
      35em 9em gold,
      36em 9em gold,
      17em 10em tan,
      18em 10em tan,
      19em 10em tan,
      20em 10em lightpink,
      21em 10em lightpink,
      22em 10em tan,
      23em 10em tan,
      24em 10em tan,
      25em 10em tan,
      30em 10em brown, 
      31em 10em grey,
      18em 11em tan,
      19em 11em tan,
      20em 11em tan,
      21em 11em tan,
      22em 11em tan,
      23em 11em tan,
      24em 11em tan,
      29em 11em black,
      32em 11em grey,
      19em 12em tan,
      20em 12em tan,
      21em 12em tan,
      22em 12em tan,
      23em 12em tan,
      28em 12em tan,
      33em 12em grey,
      19em 13em tan,
      20em 13em tan,
      21em 13em tan,
      26em 13em tan,
      27em 13em tan,
      33em 13em grey,
      18em 14em tan,
      19em 14em tan,
      20em 14em tan,
      21em 14em tan,
      22em 14em tan,
      23em 14em tan,
      24em 14em tan,
      25em 14em tan,
      33em 14em grey,
      9em 15em grey,
      14em 15em tan,
      15em 15em tan,
      16em 15em black,
      17em 15em black,
      18em 15em black,
      19em 15em black,
      20em 15em black,
      21em 15em black,
      22em 15em black,
      23em 15em black,
      24em 15em tan,
      25em 15em black,
      26em 15em black,
      27em 15em black,
      28em 15em black,
      29em 15em black,
      30em 15em black,
      31em 15em black,
      33em 15em grey,
      16em 16em lightcoral,
      17em 16em firebrick,
      18em 16em firebrick,
      19em 16em firebrick,
      20em 16em firebrick,
      21em 16em firebrick,
      22em 16em firebrick,
      23em 16em lightcoral,
      24em 16em tan,
      25em 16em lightcoral,
      26em 16em firebrick,
      27em 16em firebrick,
      28em 16em firebrick,
      29em 16em firebrick,
      30em 16em firebrick,
      31em 16em lightcoral,
      33em 16em grey,
      35em 16em grey,
      16em 17em lightcoral,
      17em 17em firebrick,
      18em 17em firebrick,
      19em 17em firebrick,
      20em 17em firebrick,
      21em 17em firebrick,
      22em 17em firebrick,
      23em 17em lightcoral,
      24em 17em tan,
      25em 17em lightcoral,
      26em 17em firebrick,
      27em 17em firebrick,
      28em 17em firebrick,
      29em 17em firebrick,
      30em 17em firebrick,
      31em 17em lightcoral,
      33em 17em grey,
      34em 17em gold,
      35em 17em gold,
      36em 17em gold,
      9em 18em grey,
      16em 18em lightcoral,
      17em 18em firebrick,
      18em 18em firebrick,
      19em 18em firebrick,
      20em 18em firebrick,
      21em 18em black,
      22em 18em black,
      23em 18em black,
      24em 18em black,
      25em 18em black,
      26em 18em black,
      27em 18em black,
      32em 18em gold,
      33em 18em grey,
      34em 18em gold,
      35em 18em gold,
      36em 18em gold,
      37em 18em gold,
      38em 18em gold,
      8em 19em grey,
      16em 19em lightcoral,
      17em 19em firebrick,
      18em 19em firebrick,
      19em 19em firebrick,
      20em 19em black,
      21em 19em black,
      22em 19em firebrick,
      23em 19em firebrick,
      24em 19em firebrick,
      25em 19em firebrick,
      26em 19em firebrick,
      27em 19em black,
      28em 19em black,
      29em 19em black,
      33em 19em grey,
      35em 19em grey,
      8em 20em grey,
      12em 20em black,
      13em 20em black,
      14em 20em black,
      15em 20em black,
      16em 20em lightcoral,
      17em 20em firebrick,
      18em 20em black,
      19em 20em black,
      20em 20em black,
      21em 20em firebrick,
      22em 20em firebrick,
      23em 20em firebrick,
      24em 20em firebrick,
      25em 20em firebrick,
      26em 20em firebrick,
      27em 20em firebrick,
      28em 20em firebrick,
      29em 20em black,
      30em 20em black,
      31em 20em black,
      32em 20em gold,
      33em 20em grey,
      34em 20em gold,
      35em 20em gold,
      36em 20em gold,
      37em 20em gold,
      38em 20em gold,
      8em 21em grey,
      12em 21em lightcoral,
      13em 21em firebrick,
      14em 21em firebrick,
      15em 21em firebrick,
      16em 21em black,
      17em 21em black,
      18em 21em black,
      19em 21em firebrick,
      20em 21em firebrick,
      21em 21em firebrick,
      22em 21em firebrick,
      23em 21em black,
      24em 21em firebrick,
      25em 21em firebrick,
      26em 21em firebrick,
      27em 21em firebrick,
      28em 21em firebrick,
      29em 21em firebrick,
      30em 21em black,
      31em 21em black,
      33em 21em grey,
      34em 21em gold,
      35em 21em gold,
      36em 21em gold,
      8em 22em grey,
      12em 22em lightcoral,
      13em 22em firebrick,
      14em 22em firebrick,
      15em 22em firebrick,
      16em 22em firebrick,
      17em 22em firebrick,
      18em 22em black,
      19em 22em firebrick,
      20em 22em firebrick,
      21em 22em firebrick,
      22em 22em firebrick,
      23em 22em black,
      24em 22em firebrick,
      25em 22em firebrick,
      26em 22em black,
      27em 22em firebrick,
      28em 22em firebrick,
      29em 22em firebrick,
      30em 22em firebrick,
      31em 22em black,
      33em 22em grey,
      35em 22em grey,
      8em 23em grey,
      12em 23em lightcoral,
      13em 23em firebrick,
      14em 23em firebrick,
      15em 23em firebrick,
      16em 23em firebrick,
      17em 23em firebrick,
      18em 23em black,
      19em 23em firebrick,
      20em 23em firebrick,
      21em 23em firebrick,
      22em 23em firebrick,
      23em 23em black,
      24em 23em firebrick,
      25em 23em firebrick,
      26em 23em black,
      27em 23em firebrick,
      28em 23em firebrick,
      29em 23em firebrick,
      30em 23em firebrick,
      31em 23em black,
      33em 23em grey,
      35em 23em grey,
      8em 24em grey,
      12em 24em lightcoral,
      13em 24em firebrick,
      14em 24em firebrick,
      15em 24em firebrick,
      16em 24em firebrick,
      17em 24em firebrick,
      18em 24em black,
      19em 24em firebrick,
      20em 24em firebrick,
      21em 24em black,
      22em 24em firebrick,
      23em 24em black,
      24em 24em black,
      25em 24em black,
      26em 24em black,
      27em 24em firebrick,
      28em 24em firebrick,
      29em 24em firebrick,
      30em 24em firebrick,
      31em 24em black,
      33em 24em grey,
      35em 24em grey,
      8em 25em grey,
      12em 25em lightcoral,
      13em 25em firebrick,
      14em 25em firebrick,
      15em 25em firebrick,
      16em 25em firebrick,
      17em 25em firebrick,
      18em 25em black,
      19em 25em firebrick,
      20em 25em firebrick,
      21em 25em firebrick,
      22em 25em black,
      23em 25em black,
      24em 25em black,
      25em 25em black,
      26em 25em black,
      27em 25em firebrick,
      28em 25em firebrick,
      29em 25em firebrick,
      30em 25em firebrick,
      31em 25em black,
      33em 25em grey,
      35em 25em grey,
      8em 26em grey,
      12em 26em lightcoral,
      13em 26em firebrick,
      14em 26em firebrick,
      15em 26em firebrick,
      16em 26em firebrick,
      17em 26em firebrick,
      18em 26em black,
      19em 26em black,
      20em 26em firebrick,
      21em 26em firebrick,
      22em 26em firebrick,
      23em 26em black,
      24em 26em black,
      25em 26em black,
      26em 26em black,
      27em 26em firebrick,
      28em 26em firebrick,
      29em 26em firebrick,
      30em 26em firebrick,
      31em 26em black,
      33em 26em grey,
      35em 26em grey,
      8em 27em grey,
      12em 27em lightcoral,
      13em 27em firebrick,
      14em 27em firebrick,
      15em 27em firebrick,
      16em 27em firebrick,
      17em 27em firebrick,
      18em 27em black,
      19em 27em black,
      20em 27em firebrick,
      21em 27em firebrick,
      22em 27em firebrick,
      23em 27em firebrick,
      24em 27em black,
      25em 27em black,
      26em 27em firebrick,
      27em 27em firebrick,
      28em 27em firebrick,
      29em 27em firebrick,
      30em 27em black,
      31em 27em black,
      33em 27em grey,
      35em 27em grey,
      8em 28em grey,
      12em 28em black,
      13em 28em black,
      14em 28em black,
      15em 28em black,
      16em 28em black,
      17em 28em black,
      18em 28em black,
      19em 28em black,
      20em 28em firebrick,
      21em 28em firebrick,
      22em 28em firebrick,
      23em 28em firebrick,
      24em 28em firebrick,
      25em 28em firebrick,
      26em 28em firebrick,
      27em 28em firebrick,
      28em 28em firebrick,
      29em 28em firebrick,
      30em 28em black,
      31em 28em black,
      33em 28em grey,
      34em 28em grey,
      35em 28em grey,
      36em 28em grey,
      7em 29em grey,
      8em 29em grey,
      9em 29em grey,
      12em 29em grey,
      17em 29em grey,
      19em 29em black,
      20em 29em black,
      21em 29em firebrick,
      22em 29em firebrick,
      23em 29em firebrick,
      24em 29em firebrick,
      25em 29em firebrick,
      26em 29em firebrick,
      27em 29em black,
      28em 29em black,
      29em 29em black,
      30em 29em black,
      33em 29em grey,
      37em 29em grey,
      6em 30em grey,
      10em 30em grey,
      11em 30em grey,
      18em 30em grey,
      20em 30em black,
      21em 30em black,
      22em 30em black,
      23em 30em black,
      24em 30em black,
      25em 30em black,
      26em 30em black,
      27em 30em black,
      28em 30em black,
      30em 30em grey,
      32em 30em grey,
      33em 30em grey,
      34em 30em grey,
      17em 31em grey,
      31em 31em grey,
      35em 31em grey;
  }
  
  .drummer::after {
    content: '';
    position: absolute;
    background: transparent;
    height: 1em;
    width: 1em;
    color: transparent;
    box-shadow:
      21em 0 brown,
      22em 0 brown,
      20em 1em brown,
      21em 1em brown,
      22em 1em brown,
      23em 1em brown,
      24em 1em brown,
      19em 2em brown,
      20em 2em brown,
      21em 2em brown,
      22em 2em brown,
      23em 2em brown,
      24em 2em brown,
      17em 3em brown,
      18em 3em brown,
      19em 3em brown,
      20em 3em brown,
      21em 3em brown,
      22em 3em brown,
      23em 3em brown,
      24em 3em brown,
      25em 3em brown,
      16em 4em brown,
      17em 4em brown,
      18em 4em brown,
      19em 4em brown,
      20em 4em brown,
      21em 4em brown,
      22em 4em brown,
      23em 4em tan,
      24em 4em brown,
      25em 4em brown,
      26em 4em brown,
      16em 5em brown,
      17em 5em brown,
      18em 5em tan,
      19em 5em tan,
      20em 5em tan,
      21em 5em tan,
      22em 5em tan,
      23em 5em tan,
      24em 5em tan,
      25em 5em tan,
      26em 5em brown,
      16em 6em brown,
      17em 6em tan,
      18em 6em tan,
      19em 6em lightblue,
      20em 6em tan,
      21em 6em tan,
      22em 6em tan,
      23em 6em tan,
      24em 6em lightblue,
      25em 6em tan,
      16em 7em brown,
      17em 7em tan,
      18em 7em tan,
      19em 7em tan,
      20em 7em tan,
      21em 7em tan,
      22em 7em tan,
      23em 7em tan,
      24em 7em tan,
      25em 7em tan,
      10em 11em brown, /* left 1*/
      11em 12em brown, /* left 2*/
      12em 13em brown, /* left 3*/
      13em 14em black, /* left 4*/ 
      6em 16em gold, /* drum left */
      7em 16em gold, /* drum left */
      8em 16em gold, /* drum left */
      9em 16em gold, /* drum left */
      10em 16em gold, /* drum left */
      11em 16em gold, /* drum left */
      12em 16em gold, /* drum left */
      3em 17em gold, /* drum left */
      4em 17em gold, /* drum left */
      5em 17em gold, /* drum left */
      6em 17em gold, /* drum left */
      7em 17em gold, /* drum left */
      8em 17em gold, /* drum left */
      9em 17em gold, /* drum left */
      10em 17em gold, /* drum left */
      11em 17em gold, /* drum left */
      12em 17em gold, /* drum left */
      13em 17em gold, /* drum left */
      14em 17em gold, /* drum left */
      15em 17em gold; /* drum left */
  /*   animation: drum 1.5s infinite; */
  }
  
  .drummer.active::after {
    animation: drum .8s infinite;
  }
  
    
  @keyframes drum {
    5% {
    box-shadow:
          21em 0 brown,
      22em 0 brown,
      20em 1em brown,
      21em 1em brown,
      22em 1em brown,
      23em 1em brown,
      24em 1em brown,
      19em 2em brown,
      20em 2em brown,
      21em 2em brown,
      22em 2em brown,
      23em 2em brown,
      24em 2em brown,
      17em 3em brown,
      18em 3em brown,
      19em 3em brown,
      20em 3em brown,
      21em 3em brown,
      22em 3em brown,
      23em 3em brown,
      24em 3em brown,
      25em 3em brown,
      16em 4em brown,
      17em 4em brown,
      18em 4em brown,
      19em 4em brown,
      20em 4em brown,
      21em 4em brown,
      22em 4em brown,
      23em 4em tan,
      24em 4em brown,
      25em 4em brown,
      26em 4em brown,
      16em 5em brown,
      17em 5em brown,
      18em 5em tan,
      19em 5em tan,
      20em 5em tan,
      21em 5em tan,
      22em 5em tan,
      23em 5em tan,
      24em 5em tan,
      25em 5em tan,
      26em 5em brown,
      16em 6em brown,
      17em 6em tan,
      18em 6em tan,
      19em 6em lightblue,
      20em 6em tan,
      21em 6em tan,
      22em 6em tan,
      23em 6em tan,
      24em 6em lightblue,
      25em 6em tan,
      16em 7em brown,
      17em 7em tan,
      18em 7em tan,
      19em 7em tan,
      20em 7em tan,
      21em 7em tan,
      22em 7em tan,
      23em 7em tan,
      24em 7em tan,
      25em 7em tan,
      10em 11em brown, /* left 1*/
      11em 12em brown, /* left 2*/
      12em 13em brown, /* left 3*/
      13em 14em black, /* left 4*/ 
      6em 16em gold, /* drum left */
      7em 16em gold, /* drum left */
      8em 16em gold, /* drum left */
      9em 16em gold, /* drum left */
      10em 16em gold, /* drum left */
      11em 16em gold, /* drum left */
      12em 16em gold, /* drum left */
      3em 17em gold, /* drum left */
      4em 17em gold, /* drum left */
      5em 17em gold, /* drum left */
      6em 17em gold, /* drum left */
      7em 17em gold, /* drum left */
      8em 17em gold, /* drum left */
      9em 17em gold, /* drum left */
      10em 17em gold, /* drum left */
      11em 17em gold, /* drum left */
      12em 17em gold, /* drum left */
      13em 17em gold, /* drum left */
      14em 17em gold, /* drum left */
      15em 17em gold; /* drum left */
    }
    20% {
      box-shadow:
        21em 0 brown,
      22em 0 brown,
      20em 1em brown,
      21em 1em brown,
      22em 1em brown,
      23em 1em brown,
      24em 1em brown,
      19em 2em brown,
      20em 2em brown,
      21em 2em brown,
      22em 2em brown,
      23em 2em brown,
      24em 2em brown,
      17em 3em brown,
      18em 3em brown,
      19em 3em brown,
      20em 3em brown,
      21em 3em brown,
      22em 3em brown,
      23em 3em brown,
      24em 3em brown,
      25em 3em brown,
      16em 4em brown,
      17em 4em brown,
      18em 4em brown,
      19em 4em brown,
      20em 4em brown,
      21em 4em brown,
      22em 4em brown,
      23em 4em tan,
      24em 4em brown,
      25em 4em brown,
      26em 4em brown,
      16em 5em brown,
      17em 5em brown,
      18em 5em tan,
      19em 5em tan,
      20em 5em tan,
      21em 5em tan,
      22em 5em tan,
      23em 5em tan,
      24em 5em tan,
      25em 5em tan,
      26em 5em brown,
      16em 6em brown,
      17em 6em tan,
      18em 6em tan,
      19em 6em lightblue,
      20em 6em tan,
      21em 6em tan,
      22em 6em tan,
      23em 6em tan,
      24em 6em lightblue,
      25em 6em tan,
      16em 7em brown,
      17em 7em tan,
      18em 7em tan,
      19em 7em tan,
      20em 7em tan,
      21em 7em tan,
      22em 7em tan,
      23em 7em tan,
      24em 7em tan,
      25em 7em tan,
        13em 11em brown, /* left 1*/
        13em 12em brown, /* left 2*/
        13em 13em brown, /* left 3*/
        13em 14em black, /* left 4*/
        6em 16em gold, /* drum left */
        7em 16em gold, /* drum left */
        8em 16em gold, /* drum left */
        9em 16em gold, /* drum left */
        10em 16em gold, /* drum left */
        11em 16em gold, /* drum left */
        12em 16em gold, /* drum left */
        3em 17em gold, /* drum left */
        4em 17em gold, /* drum left */
        5em 17em gold, /* drum left */
        6em 17em gold, /* drum left */
        7em 17em gold, /* drum left */
        8em 17em gold, /* drum left */
        9em 17em gold, /* drum left */
        10em 17em gold, /* drum left */
        11em 17em gold, /* drum left */
        12em 17em gold, /* drum left */
        13em 17em gold, /* drum left */
        14em 17em gold, /* drum left */
        15em 17em gold; /* drum left */
    }
    30% {
      box-shadow:
        21em 0,
      22em 0,
      20em 1em brown,
      21em 1em brown,
      22em 1em brown,
      23em 1em brown,
      24em 1em brown,
      19em 2em brown,
      20em 2em brown,
      21em 2em brown,
      22em 2em brown,
      23em 2em brown,
      24em 2em brown,
      17em 3em brown,
      18em 3em brown,
      19em 3em brown,
      20em 3em brown,
      21em 3em brown,
      22em 3em brown,
      23em 3em brown,
      24em 3em brown,
      25em 3em brown,
      16em 4em brown,
      17em 4em brown,
      18em 4em brown,
      19em 4em brown,
      20em 4em brown,
      21em 4em brown,
      22em 4em brown,
      23em 4em brown,
      24em 4em brown,
      25em 4em brown,
      26em 4em brown,
      16em 5em brown,
      17em 5em brown,
      18em 5em brown,
      19em 5em brown,
      20em 5em brown,
      21em 5em brown,
      22em 5em brown,
      23em 5em brown,
      24em 5em brown,
      25em 5em brown,
      26em 5em brown,
      16em 6em brown,
      17em 6em brown,
      18em 6em brown,
      19em 6em brown,
      20em 6em brown,
      21em 6em brown,
      22em 6em brown,
      23em 6em brown,
      24em 6em brown,
      25em 6em brown,
      16em 7em brown,
      17em 7em brown,
      18em 7em brown,
      19em 7em brown,
      20em 7em brown,
      21em 7em brown,
      22em 7em tan,
      23em 7em brown,
      24em 7em brown,
      25em 7em brown,
         10em 15em brown, /* left 1 hit the cymbal*/
        11em 15em brown, /* left 2*/
        12em 15em brown, /* left 3*/
        13em 15em black, /* left 4*/        
        3em 11em gold, /* drum left */
        4em 12em gold, /* drum left */
        5em 13em gold, /* drum left */
        6em 13em gold, /* drum left */
        6em 14em gold, /* drum left */
        7em 14em gold, /* drum left */
        7em 15em gold, /* drum left */
        8em 15em gold, /* drum left */
        8em 16em gold, /* drum left */
        9em 16em gold, /* drum left */
        9em 17em gold, /* drum left */
        10em 17em gold, /* drum left */
        10em 18em gold, /* drum left */
        11em 18em gold, /* drum left */
        11em 19em gold, /* drum left */
        12em 19em gold, /* drum left */
        12em 20em gold, /* drum left */
        13em 21em gold, /* drum left */
        14em 22em gold, /* drum left */
        15em 23em gold; /* drum left */
    }
    60% {
      box-shadow:
        21em 0,
      22em 0,
      20em 1em brown,
      21em 1em brown,
      22em 1em brown,
      23em 1em brown,
      24em 1em brown,
      19em 2em brown,
      20em 2em brown,
      21em 2em brown,
      22em 2em brown,
      23em 2em brown,
      24em 2em brown,
      17em 3em brown,
      18em 3em brown,
      19em 3em brown,
      20em 3em brown,
      21em 3em brown,
      22em 3em brown,
      23em 3em brown,
      24em 3em brown,
      25em 3em brown,
      16em 4em brown,
      17em 4em brown,
      18em 4em brown,
      19em 4em brown,
      20em 4em brown,
      21em 4em brown,
      22em 4em brown,
      23em 4em brown,
      24em 4em brown,
      25em 4em brown,
      26em 4em brown,
      16em 5em brown,
      17em 5em brown,
      18em 5em brown,
      19em 5em brown,
      20em 5em brown,
      21em 5em brown,
      22em 5em brown,
      23em 5em brown,
      24em 5em brown,
      25em 5em brown,
      26em 5em brown,
      16em 6em brown,
      17em 6em brown,
      18em 6em brown,
      19em 6em brown,
      20em 6em brown,
      21em 6em brown,
      22em 6em brown,
      23em 6em brown,
      24em 6em brown,
      25em 6em brown,
      16em 7em brown,
      17em 7em brown,
      18em 7em brown,
      19em 7em brown,
      20em 7em brown,
      21em 7em brown,
      22em 7em tan,
      23em 7em brown,
      24em 7em brown,
      25em 7em brown,
        13em 11em brown, /* left 1*/
        13em 12em brown, /* left 2*/
        13em 13em brown, /* left 3*/
        13em 14em black, /* left 4*/
        15em 11em gold, /* drum left */
        14em 12em gold, /* drum left */
        12em 13em gold, /* drum left */
        13em 13em gold, /* drum left */
        11em 14em gold, /* drum left */
        12em 14em gold, /* drum left */
        10em 15em gold, /* drum left */
        11em 15em gold, /* drum left */
        9em 16em gold, /* drum left */
        10em 16em gold, /* drum left */
        8em 17em gold, /* drum left */
        9em 17em gold, /* drum left */
        7em 18em gold, /* drum left */
        8em 18em gold, /* drum left */
        6em 19em gold, /* drum left */
        7em 19em gold, /* drum left */
        6em 20em gold, /* drum left */
        5em 21em gold, /* drum left */
        4em 22em gold, /* drum left */
        3em 23em gold; /* drum left */
    }
    70% {
      box-shadow:   
        21em 0 brown,
      22em 0 brown,
      20em 1em brown,
      21em 1em brown,
      22em 1em brown,
      23em 1em brown,
      24em 1em brown,
      19em 2em brown,
      20em 2em brown,
      21em 2em brown,
      22em 2em brown,
      23em 2em brown,
      24em 2em brown,
      17em 3em brown,
      18em 3em brown,
      19em 3em brown,
      20em 3em brown,
      21em 3em brown,
      22em 3em brown,
      23em 3em brown,
      24em 3em brown,
      25em 3em brown,
      16em 4em brown,
      17em 4em brown,
      18em 4em brown,
      19em 4em brown,
      20em 4em brown,
      21em 4em brown,
      22em 4em brown,
      23em 4em tan,
      24em 4em brown,
      25em 4em brown,
      26em 4em brown,
      16em 5em brown,
      17em 5em brown,
      18em 5em tan,
      19em 5em tan,
      20em 5em tan,
      21em 5em tan,
      22em 5em tan,
      23em 5em tan,
      24em 5em tan,
      25em 5em tan,
      26em 5em brown,
      16em 6em brown,
      17em 6em tan,
      18em 6em tan,
      19em 6em lightblue,
      20em 6em tan,
      21em 6em tan,
      22em 6em tan,
      23em 6em tan,
      24em 6em lightblue,
      25em 6em tan,
      16em 7em brown,
      17em 7em tan,
      18em 7em tan,
      19em 7em tan,
      20em 7em tan,
      21em 7em tan,
      22em 7em tan,
      23em 7em tan,
      24em 7em tan,
      25em 7em tan,
        10em 11em brown, /* left 1*/
      11em 12em brown, /* left 2*/
      12em 13em brown, /* left 3*/
      13em 14em black, /* left 4*/ 
      6em 16em gold, /* drum left */
      7em 16em gold, /* drum left */
      8em 16em gold, /* drum left */
      9em 16em gold, /* drum left */
      10em 16em gold, /* drum left */
      11em 16em gold, /* drum left */
      12em 16em gold, /* drum left */
      3em 17em gold, /* drum left */
      4em 17em gold, /* drum left */
      5em 17em gold, /* drum left */
      6em 17em gold, /* drum left */
      7em 17em gold, /* drum left */
      8em 17em gold, /* drum left */
      9em 17em gold, /* drum left */
      10em 17em gold, /* drum left */
      11em 17em gold, /* drum left */
      12em 17em gold, /* drum left */
      13em 17em gold, /* drum left */
      14em 17em gold, /* drum left */
      15em 17em gold; /* drum left */
    }
  }