/* Header */
.navbar {
    background-color: hsl(0, 2%, 9%);
    box-shadow: hsla(0, 0%, 44%, 0.55) 0px 0px 98px, hsla(0, 0%, 76%, 0.35) 0px 0px 96px;
}

.navbar-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-nav {
    margin-left: auto;
    width: 20%;
    justify-content: space-between;
}

.navbar-brand h1 {
    margin:auto;
}

.nav-item a.nav-link {
    color: var(--gallery);
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}

.logo-container {
    margin: 0 auto 30px auto;
}

.logo-container img {
    width: 280px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    margin: 0 auto;
}
