@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700&display=swap');

:root {
    --merlin: hsl(37, 6%, 25%);
    --natural-gray: hsl(37, 8%, 55%);
    --cararra: hsl(40, 17%, 90%);
    --zorba: hsl(38, 9%, 56%);
    --swirl: hsl(40, 13%, 77%);
    --fuscous-gray: hsla(40, 6%, 30%, 0.122);
    --westar: hsl(42, 13%, 85%);
    --nomad: hsl(42, 12%, 67%);
    --alto: hsl(0, 3%, 87%);
    --ash: hsl(41, 12%, 74%);
    --gallery: hsl(0, 0%, 93%);
    --border-color: hsl(0, 0%, 93%);
    --ripe-lemon: hsl(48, 93%, 51%);
    --container-background-color: hsl(212, 15%, 22%);
    --btn-play-background-color: hsla(0, 0%, 0%, 0.5);
    --standard-padding: 15px;
    --standard-margin: 15px;
    --btn-border-radius: 10px;
    --btn-width: 46px;
    --btn-height: 21px;
    --btn-border-width: 42px;
    --btn-surface-dimensions: 60px;
    --transition: box-shadow 0.2s ease;
    --box-shadow: inset 0px 0px 0px 0px var(--merlin), 0px 0px 0px 1.5px var(--merlin), 0px 16px 12px 0px var(--fuscous-gray);
    --play-button-shadow: 0px 0px 10px var(--ripe-lemon);
    --btn-play-dimensions: 80px;
    --fa-font-size: 32px;
    --border-radius-circle: 50%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}


/* Typography */
h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--gallery);
}
.level-score{
    font-size: 30px;
}
.level-current{
    font-size: 30px;
}

p {
  justify-self: center;
}

.wide-container {
    display: flex;
    margin: 0 auto;
}

.container-main-page {
    background-color: var(--container-background-color);
    box-shadow: hsla(0, 0%, 0%, 0.19) 0px 10px 20px, hsla(0, 0%, 0%, 0.23) 0px 6px 6px;
    border-radius: 10px;
    z-index: 0;
    position: relative;
    padding: calc(var(--standard-padding) * 2) calc(var(--standard-padding) * 3);
}

.container-main-page > div.border:nth-child(1) {
    border-radius: 40px 40px 0 0;
}

.container-main-page > div.border:nth-child(3) {
    border-radius: 0 0 40px 40px;
}

.container-main-page-start {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.border {
    border: 1px solid var(--border-color);
}

.dark-border {
    border: 1px solid var(--container-background-color);
}

.logo {
    width: 94%;
    height: 6em;
    justify-content: center;
}

.navbar-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-nav {
    margin-left: auto;
    width: 15%;
    justify-content: space-between;
}

.nav-item a {
    text-transform: uppercase;
    font-size: 18px;
}

.logo-star-btns {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

/*-------game-zone-------*/
.height-div {
    height: 28.5%;
}

.btn-flex-display {    
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.game-zone {
  height: 60em;
  margin-top: 15px;
  margin-bottom: 15px;
}

kbd {
  background-color: rgba(0, 0, 0, 0);
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.round {
  height: 6em;
  width: 6em;
  border-radius: 75%;
}

.visual {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  width: 100%;
  height: 30%;
}

.btn-zone {
  width: 100%;
  height: 40%;
  border-color: black;
  border: 5px solid;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


.visual,
.btn-zone {
  border-color: black;
  border: 4px solid;
}

.visual {
    border-color: black;
    border: 2px solid;
}

/*--------footer-------*/
.team-gh {
  margin-left: 0;
  margin-left: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

#navbarText {
  width: 100%;
}

#footer-nav {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}


/* Buttons */
.btn-keyboard {
    box-sizing: initial;
    cursor: pointer;
    position: relative;
    padding: calc(var(--standard-padding) * 2) var(--standard-padding);
    border-radius: var(--btn-border-radius);
    overflow: hidden;
    text-align: center;
    color: var(--natural-gray);
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

.btn-keyboard a {
    font-size: 32px;
    font-weight: 700;
    color: var(--gallery);
    text-decoration: none;
    text-transform: uppercase;

    /* Rainbow background colour, comment or remove it not*/
    /* background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5); */
}

.btn-keyboard.btn-game {
    width: var(--btn-width);
    height: var(--btn-height);
}

.btn-keyboard.red {
    --box-shadow: inset 0px 0px 6px 0px red, 0px 0px 0px 1.5px red, 0px 10px 25px 0px red;
}

.btn-keyboard.orange {
    --box-shadow: inset 0px 0px 6px 0px orange, 0px 0px 0px 1.5px orange, 0px 10px 25px 0px orange;
}

.btn-keyboard.yellow {
    --box-shadow: inset 0px 0px 6px 0px yellow, 0px 0px 0px 1.5px yellow, 0px 10px 25px 0px yellow;
}

.btn-keyboard.green {
    --box-shadow: inset 0px 0px 6px 0px green, 0px 0px 0px 1.5px green, 0px 10px 25px 0px green;
}

.btn-keyboard.blue {
    --box-shadow: inset 0px 0px 6px 0px blue, 0px 0px 0px 1.5px blue, 0px 10px 25px 0px blue;
}

.btn-keyboard.purple {
    --box-shadow: inset 0px 0px 6px 0px purple, 0px 0px 0px 1.5px purple, 0px 10px 25px 0px purple;
}

/* Shadow effect on border like pushing button */
.btn-keyboard.active,
.btn-keyboard:active {
    --transition: box-shadow 0.2s ease-out;
    --box-shadow: inset 0px 0px 6px 0px var(--merlin), 0px 0px 0px 1.5px var(--merlin), 0px 10px 12px 0px var(--fuscous-gray);
}

/* Shadow effect on surface like pushing button */
.btn-keyboard.active::before,
.btn-keyboard:active::before {
    --transition: transform 0.2s ease-out, background 0.2s ease-out;
    background: linear-gradient(0deg, var(--westar), var(--nomad));
}

/* Surface of key */
.btn-keyboard::before {
    --transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
    inset: 10px;
    border-radius: 7px;
    box-shadow: 0px -1px 0px 0px var(--alto), 0px 2px 0px 0px var(--zorba);
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(0deg, var(--westar), var(--ash));
}

.btn-keyboard.btn-game::before {
    width:var(--btn-surface-dimensions);
    height: var(--btn-surface-dimensions);
}

/* Quarter shadow / slight smudge effect conical type of shadow*/
.btn-keyboard::after {
    inset: 0;
    z-index: -2;
    position: absolute;
    content: "";
    filter: blur(1px);
    border-top: var(--btn-border-width) solid var(--cararra);
    border-bottom: var(--btn-border-width) solid var(--zorba);
    border-left: var(--btn-border-width) solid var(--swirl);
    border-right: var(--btn-border-width) solid var(--swirl);
}

.btn-play {
    width: var(--btn-play-dimensions);
    height: var(--btn-play-dimensions);
    border: 6px solid var(--border-color);
    border-radius: var(--border-radius-circle);
    color: var(--border-color);
    background-color: var(--btn-play-background-color);
    font-size: var(--fa-font-size);
    transition: all 0.4s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-play:hover,
.btn-play:active,
.btn-play:focus {
    box-shadow: var(--play-button-shadow);
    text-shadow: var(--play-button-shadow);
}

.sample-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.sample-slider {
    width: 100%;
    position: relative;
}

.sample-progress-bar {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: var(--btn-border-radius);
    background-color: var(--ripe-lemon);
    overflow: hidden; /* slim downs the toggle */
    cursor: pointer;
}

/*-------sweetalert-------
.swal2-container {
    color: #111211,
};*/